USE [master]
GO
/****** Object:  Database [MyShop_328264650]    Script Date: 04/03/2025 14:49:56 ******/
CREATE DATABASE [MyShop_328264650]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop_328264650].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShop_328264650]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ORDER_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[ORDER_ID] [int] NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORSER_DATE] [date] NULL,
	[ORDER_SUM] [money] NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [nchar](50) NULL,
	[PRICE] [money] NOT NULL,
	[CAREGORY_ID] [int] NOT NULL,
	[DESCRIPTION] [nchar](200) NULL,
	[IMG_URL] [nchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/03/2025 14:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NOT NULL,
	[FirstName] [nchar](50) NULL,
	[LastName] [nchar](50) NULL,
	[Password] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1, N'מוצצים                                            ')
INSERT [dbo].[Categories] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (2, N'בקבוקים                                           ')
INSERT [dbo].[Categories] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (3, N'עגלה                                              ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ORDER_ID], [ORSER_DATE], [ORDER_SUM], [USER_ID]) VALUES (1, CAST(N'2024-11-12' AS Date), 50.0000, 1)
INSERT [dbo].[Orders] ([ORDER_ID], [ORSER_DATE], [ORDER_SUM], [USER_ID]) VALUES (4, CAST(N'2024-12-15' AS Date), 0.0000, 1)
INSERT [dbo].[Orders] ([ORDER_ID], [ORSER_DATE], [ORDER_SUM], [USER_ID]) VALUES (5, CAST(N'2024-12-15' AS Date), 0.0000, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CAREGORY_ID], [DESCRIPTION], [IMG_URL]) VALUES (1, N'מוצץ כחול                                         ', 15.9000, 1, N'מוצץ כחול איכותי עשוי סיליקון רך, מתאים מגיל לידה, מסייע בהרגעת התינוק.                                                                                                                                 ', N'BluePacifier.jpeg                                 ')
INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CAREGORY_ID], [DESCRIPTION], [IMG_URL]) VALUES (2, N'קופסת מוצצים                                      ', 29.9000, 1, N'קופסה לאחסון מוצצים השומרת על היגיינה ומונעת איבוד.                                                                                                                                                     ', N'PacifierBox.jpeg                                  ')
INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CAREGORY_ID], [DESCRIPTION], [IMG_URL]) VALUES (3, N'בקבוקים                                           ', 39.9000, 2, N'סט של שלושה בקבוקים אנטי-קוליק, מותאם להזנת תינוקות, כולל פטמות רכות.                                                                                                                                   ', N'Bottles.jpeg                                      ')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [USER_ID]) VALUES (1, N'localhost:44379', N'GET       ', N'/api/Categories', N'https://localhost:44379/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T14:50:55.010' AS DateTime), NULL)
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [USER_ID]) VALUES (2, N'localhost:44379', N'GET       ', N'/api/Products', N'https://localhost:44379/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T14:50:55.013' AS DateTime), NULL)
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [USER_ID]) VALUES (3, N'localhost:44379', N'GET       ', N'/bags/undefined', N'https://localhost:44379/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T14:51:03.867' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [FirstName], [LastName], [Password]) VALUES (1, N'string                                            ', N'string                                            ', N'string                                            ', N'string@sdfgh111                                   ')
INSERT [dbo].[Users] ([UserId], [UserName], [FirstName], [LastName], [Password]) VALUES (2, N'string@ert.com                                    ', N'string                                            ', N'string                                            ', N'stringW!156                                       ')
INSERT [dbo].[Users] ([UserId], [UserName], [FirstName], [LastName], [Password]) VALUES (3, N'Shulamit@122                                      ', N'Shulamit                                          ', N'Shulamit                                          ', N'adsf!1234Sdfgh                                    ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[Orders] ([ORDER_ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Products] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Products] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CAREGORY_ID])
REFERENCES [dbo].[Categories] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RATING_Users] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_Users]
GO
USE [master]
GO
